.page-header .project-name a, .page-header .project-name a:visited {
    color: #FFF;
    text-decoration: none;
}

.main-content .archives h2.year{
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.main-content .archives .meta{
    display: inline-block;
    font-size: 0.6em;
    font-weight: 300;
}

.main-content .archives h3.title {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 400;
}

article .meta {
    color: #999;
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 1em;
    padding-bottom: 4px;
}

.meta .date:before { font: 1em FontAwesome;content: "\f073"; margin-left: 12px; }
.meta .tags { padding-left: 6px; }
.meta .tags:before { font: 1em FontAwesome;content: "\f02c"; margin-left: 12px; }

#page-navigation {
    font-family: arial;
    font-size: small;
    width: 100%;
}
#page-navigation div { display: inline-block }
#page-navigation div.next { float: right }

.tags-expo .tags-expo-list {
    font-size: 0.9rem;
}

.tags-expo .tags-expo-list .post-tag {
    margin: .2em .3em;
}

ul.tags-expo-posts {
    list-style: none;
}

.post-tag {
    display: inline-block;
    background: rgba(106,159,181,0.15);
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    color: #6a9fb5;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.post-tag:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
}

.post-tag:hover {
    text-decoration: none;
    background: #6a9fb5;
    color: #fff;
}

li.post-title {
    list-style-type: none;
}

#main-wrapper img {
    margin: 12px;
}

.center-text {
    text-align: center;
}

/* Comment section */
input, select, select[multiple=multiple], textarea {
    background-color: #fff;
    border-color: #d7d8da;
    border-radius: .25em;
    border-style: solid;
    border-width: 1px 1px 4px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    margin-bottom: .25em;
    padding: .75em;
    -webkit-transition: border-color;
    transition: border-color;
    width: 100%;
}

.comment-reply-notifications {
    margin: 1rem 0;
}

input[type=checkbox], input[type=radio] {
    display: inline-block;
    margin-right: .5em;
    width: auto;
}
[type=checkbox], [type=radio] {
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form .btn, form button, input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    margin: 1em 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.form-group {
    margin-bottom: .5rem;
}

.btn {
    background-color: #00638a;
    border-radius: .25em;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Menlo,Consolas,Monaco,Courier New,Courier,monospace;
    font-weight: 700;
    line-height: 1.5;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
}

.entry-comments .section-title, .entry-related .section-title {
    font-size: 1.563em;
    /* margin-top: 4rem;
    padding-top: 1rem; */
    position: relative;
}

.comment {
    font-size: .8em;
    margin-bottom: 4em;
    padding-left: 4.5em;
    position: relative;
}

.comment.child {
    margin-left: 4.5em;
}

