<div class="comment_wrap">
  <div class="comment_inner {% if include.email == '8010ad70377ea5463be7f7bc17b5f203' or include.email == '00e55e32b6665c6ca25ab73d64305351' %} comment_admin {% endif %}">

    <div class="comment_header">
      <div class="comment_avatar">
        <img alt="avatar" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=60 1x, https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=120 2x"
          title="{{include.name}}">
      </div>
      <div class="comment_name">
        {% unless include.url == blank or include.url == '' %}
        <a href="{{ include.url }}" rel="nofollow" target="_blank">{{include.name | strip_html}}</a>
        {% else %}
        {{ include.name | strip_html }} 
        {% endunless %}
        <span class="comment_author_flag">Admin</span>
      </div>
      <div class="comment_service">
        <a href="#comment{% unless include.r %}{{ index | prepend: '-' }}{% else %}{{ include.index | prepend: '-' }}{% endunless %}"
          rel="nofollow" title="permalink">
          <span class="comment_date">{{ include.date | date: "%B %e, %Y %H:%M"}}</span>
        </a>
      </div>
      <div class="clear"></div>
    </div>
    <div class="comment_body">
      <span class="comment_arrow"></span>
      <p>{{ include.message | markdownify }}</p>
      {% unless include.replying_to != 0 or page.comments_locked == true %}
      <a class="comment_reply" rel="nofollow" href="#comment-{{ include.index }}" onclick="return addComment.moveForm('comment-{{ include.index }}', '{{ include.index }}', 'respond', '{{ page.slug }}')">REPLY</a>
      {% endunless %}
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="clear"></div>
  <!-- Child message here -->
  {% capture i %}{{ include.index }}{% endcapture %}
  {% assign replies = site.data.comments[page.slug] | where_exp: 'comment', 'comment.replying_to == i' %}
  {% for reply in replies %} 
    {% assign index = forloop.index | prepend: '-' | prepend: include.index %}
    {% assign replying_to = reply.replying_to | to_integer %} 
    {% assign avatar = reply.avatar %} 
    {% assign email = reply.email %} 
    {% assign name = reply.name %} 
    {% assign url = reply.url %} 
    {% assign date = reply.date %} 
    {% assign message = reply.message %} 
    <div class="comment_child" id="comment{% unless include.r %}{{ index | prepend: '-' }}{% else %}{{ include.index | prepend: '-' }}{% endunless %}">
      {% include comments/comment.html index=index replying_to=replying_to avatar=avatar email=email name=name url=url date=date message=message %}
    </div>
  {% endfor %}

</div>