{% unless thePost.comments == false %}

<div>
    Testing
    <p>{{page.slug}}</p>
    <p>{{site.data.comments[page.slug]}}</p>
    <p>{{site.data.comments[page.slug].size}}</p>
<p>START- {{site.data.comments[page.slug] |sort| where_exp: 'comment', "comment.replying_to == ''"}}-END</p>

<p>
    assign {% assign simonTest = (site.data.comments[page.slug]  | where_exp: "comment", "comment.replying_to == ''") | sort:'date' %}
    COUNT - {{simonTest.size}}
    {% for test in simonTest %}
        {{test.name}}
    {% endfor %}
</p>
</div>


<div class="entry-comments">
    {% if site.repository %}
      {% if site.data.comments[page.slug] %}
        <!-- Start static comments -->
        <div id="comments" class="js-comments">
          <header class="section-title">
            <h3>{% if site.data.comments[page.slug].size > 1 %}{{ site.data.comments[page.slug] | size | append: ' ' }}{% endif %}Comments</h3>
          </header>
          {% assign comments = (site.data.comments[page.slug]  | where_exp: "comment", "comment.replying_to == ''") | sort:'date'" %}
          TH size{{comments.size}}

          {% for comment in comments %}
          <p>HERE</p>
          {% assign index       = forloop.index %}
          {% assign replying_to = comment[1].replying_to | to_integer %}
          {% assign avatar      = comment[1].avatar %}
          {% assign email       = comment[1].email %}
          {% assign name        = comment[1].name %}
          {% assign url         = comment[1].url %}
          {% assign date        = comment[1].date %}
          {% assign message     = comment.message %}
          MSG={{message}}
        {% endfor %}
      </div>
      <!-- End static comments -->
      {% endif %}
  
      {% include comments/comment-form.html %}
    {% endif %}
</div>

{% endunless %}